{
  "parser": "babel-eslint",
  "plugins": [
    "inferno"
  ],
  "extends": ["airbnb-base", "plugin:inferno/recommended"],
  "settings": {
    "inferno": {
      "pragma": "Inferno",
      "version": "1.0"
    }
  },
  "env": {
    "browser": true
  }
}
